body {
    font-family: "Rubik", "Helvetica", "Arial", sans-serif;
    color: #423B42;
}

.app-intro {
    width: 100%;
    padding: 3em 6em;
    min-height: 200px;
    background-image: url("../components/background.jpg");
    background-size: cover;
    background-position-y: 61%;
    background-repeat: no-repeat;
}

.app-logo {
    color:#65ada6;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1em 0 0.5em;
}

.app-slogan {
    color: white !important;
    font-size: 3em;
    line-height: 1.5;
}

.app-box {
    padding: 2em;
    min-height: 200px;
}

.app-box-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.app-labelInput {
    display: block;
    padding: 0.5em;
    margin: 1em 0;
    width: 400px;
}

.app-box-title{
    font-weight: 700;
    font-size: 1.3em;
}

.app-box-blurb {
    font-size: 1em;
    margin: 1em 0;
}

.signUp-feedback {
    font-weight: 500;
    font-size: 1.3em;
    width: 100%;
    word-break: break-word;
    position: relative;
}

.positiveFeedback {
    color: forestgreen;
}

.negativeFeedback {
    color: maroon;
}

.MuiFormControl-root {
    width: 400px;
}

.MuiButton-containedPrimary {
    background-color: #8d99d4;
}

.MuiButton-label {
    color: white;
}